.mv-navbar-app .nav-lang-short a.active {
    border: none!important;
    text-decoration-line: underline;
    color: var(--color-secondary)!important;
}
.mv-navbar-app .nav-lang-short ul li a {
    color: #fff!important;
}
.mv-navbar-app .nav-lang-short ul li a:hover {
    text-decoration-line: underline;
    cursor: pointer;
}
